
.nav-items{
    position: relative;
}
.nav-items li{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: center;
    line-height: 50px;
   
}
.nav-items li p{
    height: 100%;
    padding: 0px 20px;
    
}
.nav-items li:hover{
    background-color: black;
}
.nav-items li:hover .dropdown {
  display: block;
  padding-left: 0px;
}

.dropdown{
    position: relative;
    display: none;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    color: black;
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 150px;
    z-index: 1000;
    width: 250px;
}
.dropdown-menu li{
    padding: .5rem;
    background-color: white;
    color: black;
    line-height: 35px;
}
.dropdown-menu li:hover{
    color: white;
}

.hero-btn{
    background: #31619Eff;
    border-radius: 5px;
    border: 0;
    padding: 14px 40px;
    color: #fff !important;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    
}
.timer{
    text-align: center;
}
.timer div{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    border:1px solid #31619Eff ;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    margin:  0 1% 1% 0;
    height: 72px;
    width: 23%;
}
.timer div .num{
    padding: 10px;
    background-color: #31619Eff;
    color: #fff;
    font-size: 27px;
    line-height: 25px;
    box-sizing: border-box;
}

.timer div .txt{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
.dates p{
    text-align: justify;
    font-size: 14px;
    line-height: 30px;
}
.dates span{
    font-weight: bolder;
}


.foot .nav-item{
    padding: 12px 20px;
    text-transform:  capitalize;
    margin: 0px;
    font-size: 16px;
}

.active{
    background:#ffffff45;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#mini-hero{
    /* background-color: #31619Eff; */
    /* background-image: url('../assets/images/banner.webp'); */
    position: relative;
    background-image: url('https://estsd2025.sirsd.com/assets/images/inner-page-banner.jpg');
    background-size: cover;
    /* opacity: 0.5; */
    color: white;
    background-color: rgba(1, 1, 1, 0.5);
}
.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark layer */
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
    text-align: center;
}
.content h1 {
    font-size: 34px;
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px 0;
}

table{
    border: 1px solid gray;
}
.feetable thead th{
    background-color: #dadada;
    border: 1px solid gray;
}

table td{
    padding: 5px;
    border: 1px solid gray;
    font-size: 13px;
}
.feetable td{
   text-align: center;

}


